In [1]:
import pandas as pd
import numpy as np

In [2]:
true=pd.read_csv('True.csv')
fake=pd.read_csv('Fake.csv')

In [3]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [4]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [5]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [9]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
true['label']=1
fake['label']=0

In [8]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [10]:
label_new=pd.concat([fake,true],axis=0)

In [13]:
label_new.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
label_new.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [16]:
label_new=label_new.drop(['title','subject','date'],axis=1)

In [17]:
label_new.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [18]:
label_new=label_new.sample(frac=1)                     #Shuffling the data

In [19]:
label_new.head()

                                                    text  label
4821   Trump s first immigration speech following his...      0
3006   Donald Trump decided to deflect the utter humi...      0
1859   WASHINGTON (Reuters) - Senator Elizabeth Warre...      1
18356  MANCHESTER, England (Reuters) - British Prime ...      1
6061   CHICAGO (Reuters) - The U.S. Department of Agr...      1

In [20]:
label_new.reset_index(inplace=True)

In [21]:
label_new.head()

   index                                               text  label
0   4821  Trump s first immigration speech following his...      0
1   3006  Donald Trump decided to deflect the utter humi...      0
2   1859  WASHINGTON (Reuters) - Senator Elizabeth Warre...      1
3  18356  MANCHESTER, England (Reuters) - British Prime ...      1
4   6061  CHICAGO (Reuters) - The U.S. Department of Agr...      1

In [22]:
label_new=label_new.drop(['index'],axis=1)

In [23]:
label_new.head()

                                                text  label
0  Trump s first immigration speech following his...      0
1  Donald Trump decided to deflect the utter humi...      0
2  WASHINGTON (Reuters) - Senator Elizabeth Warre...      1
3  MANCHESTER, England (Reuters) - British Prime ...      1
4  CHICAGO (Reuters) - The U.S. Department of Agr...      1

In [25]:
import re

def word_rem(text):
    text=text.lower()

    text=re.sub(r'https?://\S+www\.\S+','',text)

    text=re.sub(r'<.*?>','',text)

    text=re.sub(r'\d','',text)

    text=re.sub(r'\n','',text)

    return text

In [27]:
label_new['text']=label_new['text'].apply(word_rem)

In [28]:
label_new['text']

0        trump s first immigration speech following his...
1        donald trump decided to deflect the utter humi...
2        washington (reuters) - senator elizabeth warre...
3        manchester, england (reuters) - british prime ...
4        chicago (reuters) - the u.s. department of agr...
                               ...
44893    and we wonder how we keep producing snowflakes...
44894    st century wire says judging by julian assange...
44895     mexico city (reuters) - mexico’s president ha...
44896    sacramento, calif. (reuters) - california legi...
44897    shawn helton st century wirethis week a house ...
Name: text, Length: 44898, dtype: object

In [29]:
x=label_new['text']
y=label_new['label']

In [30]:
x

0        trump s first immigration speech following his...
1        donald trump decided to deflect the utter humi...
2        washington (reuters) - senator elizabeth warre...
3        manchester, england (reuters) - british prime ...
4        chicago (reuters) - the u.s. department of agr...
                               ...
44893    and we wonder how we keep producing snowflakes...
44894    st century wire says judging by julian assange...
44895     mexico city (reuters) - mexico’s president ha...
44896    sacramento, calif. (reuters) - california legi...
44897    shawn helton st century wirethis week a house ...
Name: text, Length: 44898, dtype: object

In [31]:
y

0        0
1        0
2        1
3        1
4        1
        ..
44893    0
44894    0
44895    1
44896    1
44897    0
Name: label, Length: 44898, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [38]:
x_train.shape

(31428,)

In [35]:
x_test.shape

(13470,)

In [36]:
y_train.shape

(31428,)

In [37]:
y_test.shape

(13470,)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
vectorization=TfidfVectorizer()

In [42]:
xv_train=vectorization.fit_transform(x_train)

In [43]:
xv_test=vectorization.fit_transform(x_test)